@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400, :wght@700, :wght@900, :wght@100;700&display=swap');


* {
    font-family: Roboto, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.flex {
    display: flex;
    flex:5 5 auto;
    padding: 0vw 10vw;
}

.dark {
    background-color: #1F2937;
    color: #F9FAF8;
}

.top-container {
    display: flex;
    flex-direction: column;
}
.header {
    padding-top: 5px;
    justify-content: space-between;
    align-items: baseline;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.header ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: auto;
}

.hero {
    gap: 32px;
    padding: 5vh 10vw;
}
.hero div {
    flex: 1;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}
.hero-text p {
    margin: 0px;
}
button {
    margin: 10px 0px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    border-style: solid;
    padding: 5px 20px;
    color: #F9FAF8;
}
.hero-image-container {
    background-color:#6b6f76;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    flex-direction: column;
    align-items: center;
}
h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.icon-row {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.icon {
    width: 13vw;
}
.icon-container {
    height: 13vw;
    border: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}
.icon-text {
    text-align: center;
    margin-top: 7px;
}

.quote-section {
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 3vh 17vw;
}
.quote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}
.quote-credit {
    padding-right: 45px;
}

.action-section.flex{
    justify-content: stretch;
}
.action-card {
    background-color: #3882F6;
    color: #F9FAF8;
    flex: auto;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2vh 8vw;
    border-radius: 5px;
}
.action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.action-text strong {
    font-size: 18px;
}
.action-text p {
    margin: 0px;
}
.action-card button {
    border-color: #F9FAF8;
    margin: 5px 0px;
}