body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.flex {
    display: flex;
    flex:auto;
    padding: 0vw 10vw;
}

.dark {
    background-color: #1F2937;
    color: #F9FAF8;
}

