@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400, :wght@700, :wght@900, :wght@100;700&display=swap');


* {
    font-family: Roboto, sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.flex {
    display: flex;
    flex:auto;
    padding: 0vw 10vw;
}

.dark {
    background-color: #1F2937;
    color: #F9FAF8;
}

.top-container {
    display: flex;
    flex-direction: column;
}
.header {
    padding-top: 5px;
    justify-content: space-between;
    align-items: baseline;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.header ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
    margin-left: auto;
}

.hero {
    gap: 32px;
    padding: 6vh 10vw;
}
.hero div {
    flex: 1;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}
.hero-text p {
    margin: 0px;
}
button {
    margin: 10px 0px;
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    border-style: solid;
    padding: 3px 20px;
    color: #F9FAF8;
}
.hero-image-container {
    background-color:#6b6f76;
    display: flex;
    justify-content: center;
    align-items: center;
}